[Unit]
Description=SSO Okta OpenVPN Flask Web Application
After=syslog.target
Wants=network-online.target
After=network-online.target

[Service]
User=ssoapp
WorkingDirectory=/opt/openvpn-okta-sso-example
#Test for a new version to replace with
ExecStart=/opt/openvpn-okta-sso-example/venv/bin/python /opt/openvpn-okta-sso-example/main.py
Restart=on-abort

[Install]
WantedBy=multi-user.target
