{% extends "template.html" %}

{% block content %}
<h2>Okta Hosted Login + Flask Example</h2>

{% if current_user.is_authenticated %}
<div>
    <p>Welcome back, <span></span>!</p>
    <p>Visit the <a href="{{ url_for('profile') }}">My Profile</a> page in this application to view the information
        retrieved with your OAuth Access Token.</p>
</div>
{% else %}
<div>
    <p>Hello!</p>
</div>

<form method="get" action="login">
    <button id="login-button" class="btn btn-primary" type="submit">Login</button>
</form>
{% endif %}
{% endblock content %}
